body {
  font-family: futura;
  background-color: rgba(0, 150, 255, 1);
}
div {
  border: 1px solid black;
  border-radius: 8px;
}
p {
  font-size: 20px;
  margin: 20px;
}
li {
  list-style-type: none;
}
button {
  margin: 20px;
}


#name {
  font-size: 60px;
  margin: 20px auto;
}
#instructionsTitle {
  font-size: 20px;
}
#instructions {
  font-size: 15px;
  margin: 0 auto;
  padding: 0px 100px 0px 100px;
}

#intro {
  background-color: rgba(200, 200, 255, .5);
  text-align: center;
  box-shadow: 5px 5px 5px rgba(40, 40, 40, 0.5);;
  width: 80%;
  margin: 0 auto;
}
/*#container {
  height: 400px;
  width: 80%;
  margin: 0 auto;
}*/
#typing {
  position: fixed;
  background-color: rgba(200, 200, 255, .5);
  text-align: center;
  float: left;
  box-shadow: 5px 5px 5px rgba(40, 40, 40, 0.5);;
  width: 40%;
  margin: 0 auto;
  padding: 0px 0px 10px 0px;
}
#tryAgain {
  position: fixed;
  background-color: rgba(200, 200, 255, .5);
  text-align: center;
  float: left;
  box-shadow: 5px 5px 5px rgba(40, 40, 40, 0.5);;
  width: 22%;
  margin: 0 auto;
  left: 100px;
  bottom: 50px;
  padding: 10px;
  visibility: hidden;
}
#completed {
  font-size: 15px;
  position: relative;
  background-color: rgba(200, 200, 255, .5);
  text-align: center;
  float: right;
  box-shadow: 5px 5px 5px rgba(40, 40, 40, 0.5);;
  width: 40%;
  margin: 0 auto;
}
#scramble {
  font-size: 40px;
}
#completeTitle {
  font-size: 30px;
  padding-top: 20px;
}
#inputBox {
  margin: 20px;
}
#wordList {
  columns: 100px 2;
}
#timer {
  font-size: 15px;
  position: fixed;
  background-color: rgba(200, 200, 255, .5);
  text-align: center;
  float: none;
  box-shadow: 5px 5px 5px rgba(40, 40, 40, 0.5);;
  width: 170px;
  height: 50px;
  left: 43%;
  margin: 0px 0px 40px 0px;
  line-height: 50px;
}
#score {
  font-size: 15px;
  position: fixed;
  background-color: rgba(200, 200, 255, .5);
  text-align: center;
  float: none;
  box-shadow: 5px 5px 5px rgba(40, 40, 40, 0.5);;
  width: 170px;
  height: 50px;
  left: 43%;
  margin: 60px 0px 40px 0px;
  line-height: 50px;
}
