li {
  list-style-type: none;
}

#name {
  text-decoration: underline;
}
#instructionsTitle {
  font-size: 30px;
  font-weight: 400;
}
#typing {
  text-align: center;
  float: left;
  width: 40%;
  height: 140px;
  margin: 0 auto;
}
#tryAgain {
  position: relative;
  text-align: center;
  visibility: hidden;
  left: 85px;
}
#completed {
  position: relative;
  text-align: center;
  float: right;
  width: 40%;
  bottom: 160px;
}
#scramble {
  font-size: 40px;
}
#completeTitle {
  font-size: 30px;
  padding-top: 20px;
}
#inputBox {
  margin: 20px;
}
#wordList {
  columns: 100px 2;
}
#timer {
  position: relative;
  left: 10px;
  text-align: center;
  width: 170px;
  height: 50px;
  line-height: 10px;
}
#score {
  position: relative;
  left: 10px;
  text-align: center;
  width: 170px;
  height: 50px;
  margin: 0px 0px 40px 0px;
  line-height: 10px;
}
